<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= image_tag author.image_url, size: "155x100" %></td>
        <td><%= link_to author.name, author %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>