<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |bk| %>
      <tr>
        <td><%= link_to bk.title, bk %> by <%= link_to bk.author.name, bk.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>