<header>My Reservations</header>
<ol id="reservations">
  <% @reservations.each do |reservation| %>
    <li>
       <span class="reservation"><%= link_to reservation.book.title, book_path(reservation.book.id) %> - Due: <%= time_ago_in_words(reservation.due_on) %></span>
          <% if Date.today - reservation.due_on > 0 %>
          overdue
          <% end %>
      <p style="float: left"><%= button_to 'Return Book', book_reservation_path(:book_id => reservation.book.id,
       :id => reservation.id), :class => "btn btn-danger",
               method: :delete %></p>
    </li>
  <% end %>
</ol>